 
/* 
    Created on : 06-Aug-2017, 18:37:37
    Author     : Mohammed
*/

body{
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 18px;
     
}
.error{
    color: #FF0000;
}

.success{
    color: #0000FF;
}
/*
html { 
  background: url(images/background_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*Here we use an inline <img> element, which will be able to resize in any browser.*/
/*
img.bg {
  // Set rules to fill background 
  min-height: 100%;
  min-width: 1024px;
	
  // Set up proportionate scaling 
  width: 100%;
  height: auto;
	
  // Set up positioning 
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { // Specific to this particular image 
  img.bg {
    left: 50%;
    margin-left: -512px;   // 50% 
  }
}*/